.poin {
    cursor: pointer;
}

.face {
    color: rgb(44, 44, 214);
}

.sicon {
    font-size: 30px;
}

.pnav:hover {
    color: white;
    box-shadow: 0 3px skyblue;
}

div.icon_w {
    width: 40%;
    flex-wrap: wrap;
}

p.hdchange {
    font-size: 30px;
}

p.hdchangeN {
    font-size: 30px;
}

div.wid {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

div.wid2 {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

p.hdchange2 {
    font-size: 14px;
}

p.hdchange3 {
    font-size: 10px;
}

p.hdchange_h {
    font-size: 15px;
}

@media screen and (min-width:504px) and (max-width:1200px) {
    div#pics {
        width: 100%;
        display: block;
        flex-wrap: wrap;
        font-size: 10px;
    }
    p.hdchange {
        width: 100%;
        font-size: 15px;
    }
    i.hdchange {
        font-size: 24px;
    }
    div#picw {
        width: 100%;
    }
    p {
        width: 100%;
        font-size: 15px;
    }
    p.hdchange2 {
        font-size: 12px;
    }
    div.wid {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    p.hdchange3 {
        font-size: 8px;
    }
    div.wid2 {
        max-width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    div.icon_w {
        width: 28%;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
    }
    p.hdchange_h {
        font-size: 17px;
    }
    p.hdchangeN {
        font-size: 25px;
    }
}

@media screen and (min-width:0px) and (max-width:267px) {
    div.icon_w {
        width: 38%;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
    }
    i.hdchange {
        font-size: 20px;
    }
    p.hdchange_h {
        font-size: 15px;
    }
    p.hdchangeN {
        font-size: 18px;
    }
}

@media screen and (min-width:268px) and (max-width:510px) {
    div.icon_w {
        width: 29%;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
    }
    i.hdchange {
        font-size: 20px;
    }
    p.hdchange_h {
        font-size: 15px;
    }
    p.hdchangeN {
        font-size: 22px;
    }
}

@media screen and (max-width:504px) {
    p {
        width: 100%;
        font-size: 15px;
    }
    .wid {
        width: 100%;
    }
    p.hdchange2 {
        width: 100%;
        font-size: 10px;
        margin-top: 5px;
    }
    div.wid {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    p.hdchange3 {
        font-size: 8px;
    }
    div.wid2 {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    p.hdchange_h {
        font-size: 15px;
    }
}